<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header-grid">
      <a href="#"><img src="imgs/logo.png" alt="" /></a>
      <menu>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="travel_agency.html">Travel Agency</a></li>
        <li><a href="#">Contacts</a></li>
      </menu>

      <div class="btn-group">
        <button>Sign In</button>
        <button>Sign Up</button>
      </div>
    </header>

    <section class="jumbotron">
      <div class="offer">
        <h1>Relax responsively</h1>
        <button>Start</button>
      </div>

      <div class="to-fill">
        <form action="" class="form">
          <label for="name" class="form__label">Name</label>
          <input type="text" placeholder="Name" class="" id="name" />
          <label for="email" class="form__label">Email</label>
          <input type="text" placeholder="Email" class="" id="email" />

          <label for="subject" class="form__label">Country</label>

          <input type="text" placeholder="Country" class="" id="country" />

          <input type="submit" value="Submit" />
        </form>
      </div>
    </section>

    <link rel="stylesheet" href="home.css" />
  </body>
</html>
